<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= button_tag type: 'button', id: 'sidebarCollapse', class: 'navbar-btn', onclick: sidebarCollapseHandler do %>
        <span></span>
        <span></span>
        <span></span>
      <% end %>
    </div>

    <div>
      title now
    </div>
  </div>
</nav>