<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= button_tag type: 'button', id: 'sidebar_collapse', class: 'navbar-btn' do %>
        <span></span>
        <span></span>
        <span></span>
      <% end %>
    </div>

    <div>
      title now
    </div>
  </div>
</nav>