<nav id="sidebar">
  <div class="sidebar-header">
    <h4>Blogs Management</h4>
  </div>

  <ul class="list-unstyled components">
    <li>
      <%= link_to 'Idols', admin_idols_path %>
    </li>
    <li>
      <%= link_to 'Blogs', admin_blogs_path %>
    </li>
  </ul>
</nav>